<!-- This code creates a server div for each server in the database -->
<%  chatServers.forEach(element=> { %>
<div class="server">
  <%# server.title %>
  <div class="server-info">
    <h3><%= element.name %></h3>
    <%# server.premise %>
    <div><%= element.premise %></div>
  </div>
  <button id="join-server" data-id="<%=element.id%>" data-encrypted="<%=element.encrypted %>"
    onclick="joinServer('<%=element.id%>','<%=element.encrypted %>')">
    join server
  </button>
</div>
<%}); %>

<script src="/scripts/joinServer.js"></script>
<link rel=" stylesheet" href="styles/server.css">